rules/schtron/rule30W.sch

<?xml version="1.0" encoding="utf-8"?>
<iso:pattern id="Rule 30" xmlns:iso="http://purl.oclc.org/dsdl/schematron" >
  <iso:rule context="md:AssertionConsumerService">
    <iso:report test="normalize-space(@Binding)='urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact'">
Warning (30): AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact" is deprecated
    </iso:report>
  </iso:rule>
</iso:pattern>
