profiles/single_schematron_schemas/rule5W.sch

<?xml version="1.0" encoding="utf-8"?>
<iso:pattern id="Rule 5" xmlns:iso="http://purl.oclc.org/dsdl/schematron" >
  <iso:rule context="md:EntityDescriptor">                                  
    <iso:assert 
         test="md:Organization">
Warning (05): EntityDescriptor should contain an Organization
    </iso:assert> 
  </iso:rule>
</iso:pattern>
