profiles/single_schematron_schemas/rule21W.sch

<?xml version="1.0" encoding="utf-8"?>
<iso:pattern id="Rule 21" xmlns:iso="http://purl.oclc.org/dsdl/schematron" >
  <iso:rule context="//md:SPSSODescriptor">                                  
    <iso:assert test="md:Extensions/mdui:UIInfo">
Warning (21): SPSSODescriptor should include a mdui:UIInfo element
    </iso:assert>
  </iso:rule>
</iso:pattern>  
