rules/schtron_src/rule16W.sch

<?xml version="1.0" encoding="utf-8"?>
<iso:pattern id="Rule16_ACS_depr" xmlns:iso="http://purl.oclc.org/dsdl/schematron" >
  <iso:rule context="//md:SPSSODescriptor">                                  
    <iso:report test="md:AttributeConsumingService">
Warning (16): AttributeConsumingService is deprecated. Use EntityCategories instead.
    </iso:report>
  </iso:rule>
</iso:pattern>
